
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lora', serif;
}

#tj {

	border-radius: 50%;


}

.card-height {
  min-height: 100%;
}

html {

    scroll-behavior: smooth;
}

body {

	background-image:url(https://images.pexels.com/photos/4175054/pexels-photo-4175054.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-color: black;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;


}
footer a {

	color:black;
	text-decoration: none;

}

nav {

	background-color: rgba(255, 255, 255, .15);  
 	backdrop-filter: blur(5px);
 	-webkit-box-shadow: 0px 18px 32px 7px #000000; 
 	box-shadow: 0px 18px 32px 7px #000000;

}

footer {

/*		height:10vh;*/
		background-color: rgba(255, 255, 255, .15);  
	 	backdrop-filter: blur(5px);
	 	-webkit-box-shadow: 1px -8px 15px 2px #000000; 
	 	box-shadow: 1px -8px 15px 2px #000000;


}

h1,h2,h3,h4,h5,h6 {

  font-family: 'Montserrat', sans-serif;

}

#tjLanding p,h1,h2,h3,h4,h5,h6,span {

/*	-webkit-box-shadow: 1px 3px 15px 5px #000000; 
	box-shadow: 1px 3px 15px 5px #000000;*/

	text-shadow: 0px 0px 7px #000000;


}



footer > div {

	color:white;

}

footer > div > a {

	color:white;

}

#overlayProjOn1:hover #overlayProj1 {
  opacity: 1;
}
#overlayProjOn2:hover #overlayProj2 {
  opacity: 1;
}
#overlayProjOn3:hover #overlayProj3 {
  opacity: 1;
}

#overlayProj1{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: rgba(0, 0, 0, 0.9)

}
#overlayProj2{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
   background: rgba(0, 0, 0, 0.9)

}
#overlayProj3{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
   background: rgba(0, 0, 0, 0.9)

}

#overlaySkillOn1:hover #overlaySkill1 {
  opacity: 1;
}

#overlaySkill1{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: rgba(0, 0, 0, 0.9)

}

#overlaySkillOn2:hover #overlaySkill2 {
  opacity: 1;
}

#overlaySkill2{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: rgba(0, 0, 0, 0.9)

}

#overlaySkillOn3:hover #overlaySkill3 {
  opacity: 1;
}

#overlaySkill3{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: rgba(0, 0, 0, 0.9)

}

#overlaySkillOn4:hover #overlaySkill4 {
  opacity: 1;
}

#overlaySkill4{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: rgba(0, 0, 0, 0.9)

}

#overlaySkillOn5:hover #overlaySkill5 {
  opacity: 1;
}

#overlaySkill5{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: rgba(0, 0, 0, 0.9)

}

#overlaySkillOn6:hover #overlaySkill6 {
  opacity: 1;
}

#overlaySkill6{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: rgba(0, 0, 0, 0.9)

}

#overlaySkillOn7:hover #overlaySkill7 {
  opacity: 1;
}

#overlaySkill7{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: rgba(0, 0, 0, 0.9)

}
#overlaySkillOn8:hover #overlaySkill8 {
  opacity: 1;
}

#overlaySkill8{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: rgba(0, 0, 0, 0.9)

}
#overlaySkillOn9:hover #overlaySkill9 {
  opacity: 1;
}

#overlaySkill9{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: rgba(0, 0, 0, 0.9)

}
#overlaySkillOn10:hover #overlaySkill10 {
  opacity: 1;
}

#overlaySkill10{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: rgba(0, 0, 0, 0.9)

}
#overlaySkillOn11:hover #overlaySkill11 {
  opacity: 1;
}

#overlaySkill11{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: rgba(0, 0, 0, 0.9)

}
#overlaySkillOn11:hover #overlaySkill11 {
  opacity: 1;
}

#overlaySkill11{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: rgba(0, 0, 0, 0.9)

}
#overlaySkillOn12:hover #overlaySkill12 {
  opacity: 1;
}

#overlaySkill12{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: rgba(0, 0, 0, 0.9)

}

.scrollTop {
  color:white;
  position: fixed; 
  left: 200vh;
  bottom: 20px;
  align-items: center;
  height: 50px;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
}

.scrollTop:hover{
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

